:root {
    --var-fonte: 'Inter', sans-serif;
    --var-brand-1: rgb(65, 90, 243);
    --var-brand-2: rgb(65, 80, 210);
    --var-brand-3:rgb(215, 228, 251);
    --var-gray-1: rgb(33, 37, 41);
    --var-gray-2: rgb(52, 58, 64);
    --var-gray-3: rgb(173, 181, 189);
    --var-gray-4: rgb(233, 236, 239);
    --var-gray-5: rgb(241, 243, 245);
    --var-gray-6: rgb(248, 249, 250);
    --var-sucess: rgb(86, 207, 142);
    --var-error-1: rgb(230, 68, 69);
    --var-error-2: rgb(240, 56, 57);
    --var-titles: 'Josefin Sans', sans-serif;
    --var-shadow: 0px 0px 14px 2px rgba(0,0,0,0.15);
}