.wrapper{
    width: 420px;
    padding: 30px 20px;
    position: absolute;
    bottom: 50px;
    right: 0;
    overflow: hidden;
    z-index: -1;
}
#show-toast{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background-color: #101020;
    color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
}
#toast{
    width: 380px;
    height: 80px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 10px 20px rgba(75, 50, 50, 0.05);
    border-left: 8px solid #47d764;
    border-radius: 7px;
    display: grid;
    grid-template-columns: 1.2fr 6fr 0.5fr;
    transform: translate(400px);
    transition: 1s;
}
.container-1,.container-2{
    align-self: center;
}
.container-1 i{
    font-size: 40px;
    color: #47d764;
}
.container-2 p:first-child{
    color: #101020;
    font-weight: 600;
    font-size: 16px;
}
.container-2 p:last-child{
    margin-top: 10px;
    font-size: 14px;
    color: #656565;
    font-weight: 400;
}
#toast button{
    align-self: flex-start;
    background-color: transparent;
    font-size: 25px;
    line-height: 0;
    color: #656565;
    cursor: pointer;
}